/* Styles sheet for index.html */

.grid-container {
    display: grid;
}

.grid-item {
    margin: 5px;
}

.search-section {
    width: 50%;
    text-align: center;	
    margin: auto;
}

.search-form {
    display: inline-block;
    grid-row: 1 3;
    grid-column: 1 3;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
}

.top-nav-bar > ul > li {
    display: inline;
    font-family: "Arial", sans-serif;
    font-size: 13px;
    padding: 0px 0px 0px 15px;
}

.footer {
    grid-template-columns: repeat(3, 10%) 40% repeat(3, 10%);
}

.footer > ul > li {
    display: inline;
    font-family: "Arial", sans-serif;
    font-size: 13px;
    padding: 0px 0px 0px 15px; 
    grid-column: auto;
}

#search-bar {
    border-radius: 20px;
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    height: 32px;
    width: 482px;
}

#google-search {
    border-radius: 3px;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    height: 36px;
    width: 128px;
    color: rgb(100, 100, 100);
    background-color: rgba(225, 225, 225, .5);
    border: none;
    font-size: 14px;
    cursor: pointer;
}

#google-search:hover {
    color: rgb(0, 0, 0);
    background-color: rgba(200, 200, 200, .5);
    border: solid 1px rgb(170, 170, 170);
}

#lucky-button {
    border-radius: 3px;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    height: 36px;
    width: 143px;
    color: rgb(100, 100, 100);
    background-color: rgba(225, 225, 225, .5);
    border: none;
    font-size: 14px;
    cursor: pointer;
}

#lucky-button:hover {
    color: rgb(0, 0, 0);
    background-color: rgba(200, 200, 200, .5);
    border: solid 1px rgb(170, 170, 170);
}